body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

html{
    margin: 0;
    padding: 0;
    font-size: 40%;
}

h1{
    font-size: 5.5rem;
    margin: 0.6rem 0;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 4rem;
    margin: 0.6rem 0;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 2.5rem;
    margin: 0.6em 0;
    font-weight: normal;
}

.mainFlexBox{
    display: flex;
}

.newFlexBox{
    display: flex;
    justify-content: space-between;
}

.flexItem{
    align-self: center;
}

img{
    margin-left: 1rem;
    display: flex;
    height: 29rem;
    width: 33rem;
    min-width: 20rem;
    align-self: center;
}

.containerCustom{
    width: 50%;
    padding: 0 1rem 0 1rem;
    height: 100vh;
    overflow-y: scroll;
}

.forms{
    background-color: #9cd6d6;
    width: calc(50% - 30rem);
    margin: 0;
    padding: 2rem 15rem;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}

input{
    display: block;
    line-height: 2;
    margin: 0 auto 5rem auto;
    width: calc(80% - 8px);
    font-size: 2.5rem;
    font-weight: normal;
}

label{
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}

.col-md-10{
    width: 10%;
}

.col-md-20{
    width: 20%;
}

.col-md-40{
    width: 40%;
}

.col-md-50{
    width: 50%;
}

.col-md-60{
    width: 60%;
}

.borderBottom{
    border-bottom: 0.1rem solid grey;
    margin: 1rem 0;
}

.padding{
    padding: 0 0 1rem 1rem;
    border-left: 0.5rem solid purple;
}

.Padding{
    padding: 2rem 0;
}

table{
    width: 100%;
    font-size: 2.5rem;
}

table tr:nth-child(n+2) td{
    padding-top: 1rem;
}

.posAndHobbySection > div{
    width: 50%;
}

td, th{
    vertical-align: top;
    text-align: left;
}

li{
    font-size: 2.5rem;
}

.buttonClass{
    font-size: 3.4rem;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 10%;
}

.newFlex{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.newFlex2{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.formClass{
    width: 100%;
    margin: 5rem auto;
    background-color: #EAF6F6;
    border-radius: 8%;
}

select{
    color: #40514E;
    background-color: #EAF6F6;
    display: block;
    width: 50%;
    margin: 0 auto 2rem auto;
    padding: 1.5rem 0;
    font-size: 3.5rem;
    line-height: 2;
    border: none;
}

button {
    letter-spacing: 0.1rem;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px solid #66BFBF;
}

button:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/*.select-selected {*/
/*    background-color: DodgerBlue;*/
/*}*/

:focus-visible {
    outline: none;
}